---
---

/* Colors */

@background-color: #3f3f3f;
@foreground-color: #333;
@title-color: #dfdfdf;
@title-span-color: #cfbfaf;
@navbar-background-highlight: #2a2a2a;
@heading-color: #f0dfaf;
@anchor-color: #ffcfaf;
@anchor-underline-color: #997959;
@primary-text-color: #dcdccc;
@secondary-text-color: #aaa;
@code-text-color: #c3bf9f;

/* Layout */

html, body
{
  margin: 0;
  padding: 0;
}

html
{
  background: @background-color;
  font-family: 'Droid Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 110%;
  line-height: 1.8em;
  color: @primary-text-color;
  text-align: justify;
}

body
{
  width: 46em;
  margin: 0 auto;
  padding: 0 20px 3em;
}

ul
{
  list-style-type: square;
}

div#header
{
  position: relative;
  margin-bottom: 2em;
  padding-top: 1em;

  div#navbar
  {
    width: 100%;
    position: relative;
    overflow: hidden;

  ul
  {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    clear: left;
    float: left;
    left: 50%;
    position: relative;

    li
    {
      display: block;
      float: left;
      background: @foreground-color;
      position: relative;
      right: 50%;
      
      a
      {
        display: block;
        padding: 0.4em 1.35em;
	border: solid 1px @foreground-color;
        font-size: 1.65em;
        text-decoration: none;
        /* text-transform: uppercase; */
	font-weight: bold;
        letter-spacing: 0.05em;
        color: @primary-text-color;

        :hover, :active, :focus
        {
          background: @navbar-background-highlight;
          color: @anchor-color;
	  border: solid 1px @anchor-underline-color;
        }
      }
    }

    .first
    {
      padding-left: 1.4em;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-bottomleft: 10px;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .last
    {
      padding-right: .first['padding-left'];
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  }
}
        
/* Type */

.sans-serif
{
  font-family: 'Droid Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.monospace
{
  font-family: 'Inconsolata', 'Monaco', monospace;
}

.secondary-text
{
  .sans-serif;
  color: @secondary-text-color;

  a 
  {
    color: @primary-text-color;
    border: none;

    :hover, :focus, :active
    {
      background: @primary-text-color;
      color: @background-color;
    }
  }
}

h1
{
  margin-bottom: 0.125em;
  font-size: 5em;
  font-weight: normal;
  text-align: center;
  .monospace;

  a
  {
    border-bottom: none;
    text-decoration: none;
    color: @title-color;
  
    :hover, :focus, :active
    {
      background: transparent;
      color: @title-color;
      border-bottom: solid 1px @secondary-text-color;
    }
    
    span
    {
      position: relative;
      bottom: 0.7em;
      padding-left: 0.25em;
      padding-right: 0.25em;
      font-size: 0.15em;
      color: @title-span-color;
    }
  }
}
  
h2
{
  .sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: @heading-color;
  line-height: 1.5em;
  margin-bottom: .5em;
  max-width: 87%;
  text-align: left;
}

h3
{
  .sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: @heading-color;
}

h4
{
  .sans-serif;
  //text-transform: uppercase;
  color: @heading-color;
}

a
{
  border-bottom: 1px solid @anchor-underline-color;
  text-decoration: none;
  color: @anchor-color;

  :hover,
  :active,
  :focus
  {
    border: 0;
  }
}

p
{
  letter-spacing: 0.05em;
}

blockquote
{
  margin: 1.5em 2.5em;
  padding-left: 1em;
  border-left: 1px solid @secondary-text-color;
  font-style: italic;
  .secondary-text;
}

code
{
  color: @code-text-color;
  background: @foreground-color;
  .monospace;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

pre
{
  font-size: 115%;

  code
  {
    color: @primary-text-color;
  }
}

/* On the web */
div.on_the_web
{
  margin: -2.5em 3.5em 1.5em 1.5em;
  line-height: 1.2em;
  font-size: 80%;
  float: right;
  ul
  {
    list-style-type: none;

    li
    {
      margin-bottom: 5px;
    }
  }
}

/* Images */

img
{
  display: block;
  margin: 0 auto;
  border: 6px solid @foreground-color;
}

a:hover img
{
  border-color: @heading-color;
}

img.img_left
{
  float: left;
  margin-right: 1em;
  margin-bottom: 0.25em;
}

img.img_right
{
  float: right;
  margin-left: 1em;
  margin-bottom: 0.25em;
}

ul.images
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  li img
  {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }
}

/* Tables */

table
{
  width: 90%;
  margin: 0 auto;
    .sans-serif;
  border-collapse: collapse;

  thead tr th
  {
    text-align: center;
    text-decoration: underline;
    border-bottom: 5px solid @foreground-color;
  }
  tbody tr td
  {
    border-bottom: 1px solid @foreground-color;
  }
}

table.archive
{
  width: 100%;
  margin: 0;
  text-align: left;

  tr
  {
    vertical-align: top;
  }

  tbody tr td
  {
    border: 0;
  }
    
  td.first
  {
    width: 8em;
    font-size: 80%;
    .monospace;
    color: @secondary-text-color;
  }
}


/* Archive */

ol.archive
{
  margin: 0;
  padding: 0;
  list-style-type: none;

  span.date
  {
    float: left;
    display: block;
    width: 7em;
    padding-right: 1em;
    text-align: right;
  }
}

/* Form */

form fieldset 
{
  padding: 0;
  margin: 0;
  border: none;
}

/* Pagination */

div.left_column,
div.right_column,
form.center_column
{
  border-bottom: 3px solid @background-color;
}

div.left_column,
div.right_column
{
  width: 25%;
}

div.left_column
{
  float: left;
}

div.center_column
{
  float: left;
  width: 50%;
  text-align: center; 
}

div.right_column
{
  float: right;
  text-align: right;
}

div.paginator
{
  margin: 1.2em 0;
  line-height: 0;
  font-size: 60%;
}

/* Horizontal Rule */

hr
{
  border-top: 1px solid #010101;
  border-bottom: 1px solid #575757;
  border-right: none;
  border-left: none;
}

hr.post
{
  margin: 1em 0 0 0;
}


/* Footer */
div.footer
{
  text-align: justify;
  line-height: 1.6em;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  font-size: 0.775em;
  border-top: 5px solid #666;
  margin-top: 2em;
  overflow: hidden;

  .menu
  {
    text-align: right;
    float: right;
    margin-left: .6em;
    margin-right: .6em;
  }

  .contact 
  {
    float: left;
    margin-left: 1em;
    margin-right: 1.5em;
  }

  .copy
  {
    margin-top: 2em;
    text-align: center;
    font-size: .85em;
    line-height: 1.4em;
  }
}

/* Cloud */

.cloud
{
float:right;
max-width: 40%;
padding: 0 5px;
}

.cloud ul 
{
margin: 0;
padding: 0 0 10px 0;
text-align: justify;
}
 
.cloud ul li 
{
display: inline;
margin: 0;
padding: 0;
line-height: 0.9;
background: none;
}

.cloud ul li a { text-decoration: none; }
.cloud ul li a:hover { color: #55f; }
.cloud ul .cloud-rank-1  { font-size: 1.75em; }
.cloud ul .cloud-rank-1 a { color: #eee; }
.cloud ul .cloud-rank-2  { font-size: 1.675em; }
.cloud ul .cloud-rank-2 a { color: #ddd; }
.cloud ul .cloud-rank-3  { font-size: 1.5em; }
.cloud ul .cloud-rank-3 a { color: #ccc; }
.cloud ul .cloud-rank-4  { font-size: 1.375em; }
.cloud ul .cloud-rank-4 a { color: #bbb; }
.cloud ul .cloud-rank-5  { font-size: 1.25em; }
.cloud ul .cloud-rank-5 a { color: #aaa; }
.cloud ul .cloud-rank-6  { font-size: 1.125em; }
.cloud ul .cloud-rank-6 a { color: #999; }
.cloud ul .cloud-rank-7  { font-size: 1em; }
.cloud ul .cloud-rank-7 a { color: #888888; }
.cloud ul .cloud-rank-8  { font-size: 0.875em; }
.cloud ul .cloud-rank-8 a { color: #888; }
.cloud ul .cloud-rank-9  { font-size: 0.75em; }
.cloud ul .cloud-rank-9 a { color: #787878; }
.cloud ul .cloud-rank-10 { font-size: 0.625em; }
.cloud ul .cloud-rank-10 a { color: #777; }

/* Other */

div.meta
{
  margin: 0;
  line-height: 0;
  font-size: 80%;
  margin-top: -3em;
  float: right;

  span.date
  {
  .monospace;
  color: @secondary-text-color;
  }
}

div.previous_posts
{
  float: left;
  max-width:55%;
  padding: 0 5px;
}

div.tags
{
  margin: -1em 0 0 0;
  line-height: 1.7em;
  color: @secondary-text-color;
  float: right;
  font-size: 70%;
  .monospace;
}

div.clear_both
{
  clear: both;
}
