---
layout: default
description: Blog of Jason Graham
---

{% assign hide_extended = true %}

{% for post in site.posts limit:1 %}
{% include post.html %}
{% endfor %}

<div class="previous_posts">
<aside>
<h3>Previous posts</h3>
<table class="archive">
	{% for post in site.posts offset:1 limit:5 %}
	<tr>
		<td class="first">{{ post.date | date:"%b %d, %Y" }}</td>
		<td><a href="{{ post.url }}">{{ post.title }}</a></td>
	</tr>
	{% endfor %}
</table>
<p>
   See the <a href="/archive/">archive</a> for more.
</p>
</aside>
</div>

<div class="cloud">
<aside>
<h3>Topic list</h3>
{% include cloud.html %}
</aside>
</div> 

