<div class="on_the_web">
<ul>
<li>
<a rel="me nofollow" href="http://www.linkedin.com/pub/jason-graham/25/578/896"><img class="img_left" style="border: none;" src="/images/icons/linkedin_16.png" />Linkedin</a>
</li>

<li>
<a rel="me nofollow" href="http://www.facebook.com/jason.the.graham"><img class="img_left" style="border: none;" src="/images/icons/facebook_16.png" />facebook</a>
</li>

<li>
<a rel="me nofollow" href="http://www.twitter.com/jason__graham"><img class="img_left" style="border: none;" src="/images/icons/twitter_16.png" />&#64;jason__graham</a>
</li>

<li>
<a rel="me nofollow" href="http://www.flickr.com/photos/jason_and_whittney/"><img class="img_left" style="border: none;" src="/images/icons/flickr_16.png" />flickr</a>
</li>

</ul>
</div>
