$header-color: #333333
$background-color: #333333
$foreground-color: #262626
$title-color: #dfdfdf
$title-span-color: #cfbfaf
$navbar-background-highlight: #2a2a2a
$heading-color: #f0dfaf
$anchor-color: #ffcfaf
$anchor-background-color: #504c49
$primary-text-color: #dcdccc
$secondary-text-color: #aaaaaa
$code-text-color: #c3bf9f

// Include the partials
@import compass/css3
//@import fonts
@import zenburn

.serif
  font-family: "Bitstream Charter", Georgia, serif

.sans-serif
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif

.monospace
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace

html, body
  margin: 0
  padding: 0

html
  background: $background-color
  @extend .serif
  font-size: 105%
  line-height: 1.5em
  color: $primary-text-color

body
  width: 38em
  margin: 0 auto
  padding: 0 0 3em

ul
  list-style-type: square

#header
  position: relative
  margin-bottom: 1em
  padding-top: 1em
  background-color: $header-color

#navbar
  width: 100%
  position: relative
  overflow: hidden
  background-color: $foreground-color
  -moz-border-radius: 10px
  border-radius: 10px
  ul
    margin: 0
    padding: 0
    list-style-type: none
    text-align: center
    clear: left
    float: left
    left: 50%
    position: relative
  li
    display: block
    float: left
    position: relative
    right: 50%
  a
    +transition-timing-function(ease-in-out)
    display: block
    padding: 0.2em 1.75em
    border: solid 1px $foreground-color
    text-decoration: none
    font-weight: bold
    letter-spacing: 0.05em
    color: $primary-text-color
    margin: 0
    &:hover, &:active, &:focus
      background: $navbar-background-highlight
      color: $anchor-color
      border: solid 1px $anchor-background-color
      margin: 0

.secondary-text
  @extend .serif
  color: $secondary-text-color
  a
    color: $primary-text-color
    border: none
    &:hover, &:focus, &:active
      background: $primary-text-color
      color: $background-color

h1
  margin-top: 0.25em
  margin-bottom: 0.125em
  font-size: 2.75em
  font-weight: normal
  text-align: center
  letter-spacing: 0.03em
  a
    border-bottom: none
    text-decoration: none
    color: $title-color
    &:hover, &:focus, &:active
      background: transparent
      color: $title-color
      border: 0
      border-bottom: solid 1px $secondary-text-color
  span
    position: relative
    bottom: 0.7em
    padding-left: 0.25em
    padding-right: 0.25em
    font-size: 0.2em
    color: $title-span-color

h2
  @extend .sans-serif
  font-size: 1.75em
  font-weight: bold
  color: $heading-color
  line-height: 1.4em
  margin: 0.5em 0
  max-width: 87%
  text-align: left
  a
    color: $heading-color
    &:hover, &:focus, &:active
      color: $heading-color
      border-bottom: solid 1px $anchor-color
      background-color: $background-color

h3
  @extend .sans-serif
  font-size: 1.3em
  font-weight: bold
  color: $heading-color

h4
  @extend .sans-serif
  color: $heading-color

a
  +transition-property((color, border, background))
  +transition-duration(.3s)
  text-decoration: none
  color: $anchor-color
  &:hover, &:active, &:focus
    color: $foreground-color
    background-color: $anchor-color

p
  letter-spacing: 0.005em
  margin: 0.5em 0
  text-align: justify
  &.update
    border: 1px solid $primary-text-color
    padding: 4px
    -moz-box-shadow: 0px 0px 4px $primary-text-color
    -webkit-box-shadow: 0px 0px 4px $primary-text-color
    box-shadow: 0px 0px 0px $primary-text-color
    text-indent: 0

p + p, .on_the_web + p
  text-indent: 25px

blockquote
  margin: 1.5em 2.5em
  padding-left: 1em
  border-left: 1px solid $secondary-text-color
  font-style: italic
  @extend .secondary-text

code
  color: $code-text-color
  background: $foreground-color
  @extend .monospace
  padding: 2px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  letter-spacing: 0

pre code
  color: $primary-text-color
  font-size: 13px

.on_the_web
  line-height: 1.2em
  font-size: 80%
  float: right
  padding-left: 80px
  padding-right: 80px
  margin-left: 1em
  ul
    list-style-type: none
    padding: 0
  li
    margin-bottom: 4px
    //&#email
      //background-position: 0 0
      //width: 16px
      //height: 16px
    //&#facebook
      //background-position: -58px 0
      //width: 16px
      //height: 16px
    //&#flickr
      //background-position: -116px 0
      //width: 16px
      //height: 16px
    //&#linkedin
      //background-position: -174px 0
      //width: 16px
      //height: 16px
    //&#twitter
      //background-position: -232px 0
      //width: 16px
      //height: 16px

img
  display: block
  margin: 0 auto
  border: 2px solid $foreground-color
  margin-bottom: 24px
  &.full_width
    height: auto
    max-width: 100%
    width: auto
  &.noborder
    border: none
  &.img_left
    float: left
    margin-right: 1em
    margin-bottom: 0.25em
    max-width: 18em
  &.img_right
    float: right
    margin-left: 1em
    margin-bottom: 0.25em
    max-width: 18em

table
  width: 90%
  margin: 0 auto
  @extend .sans-serif
  border-collapse: collapse
  th
    text-align: center
    text-decoration: underline
    border-bottom: 5px solid $foreground-color
  td
    border-bottom: 1px solid $foreground-color

table.archive
  width: 100%
  margin: 0
  text-align: left
  font-size: 90%
  @extend .serif
  tr
    vertical-align: top
    border-bottom: 1px solid $foreground-color
    border-top: 1px solid $foreground-color
  td
    border: 0
    &.first
      width: 8em
      font-size: 80%
      @extend .monospace
      color: $secondary-text-color

//ol.archive
  //margin: 0
  //padding: 0
  //list-style-type: none
  //span.date
    //float: left
    //display: block
    //width: 7em
    //padding-right: 1em
    //text-align: right

.left_column, .right_column
  border-bottom: 3px solid $background-color

.left_column, .right_column
  width: 25%

.left_column
  float: left

.right_column
  float: right
  text-align: right

.paginator
  margin: 1.2em 0
  line-height: 0
  font-size: 60%
  @extend .sans-serif

hr
  color: $foreground-color
  border-style: solid none
  border-width: 1px medium
  &.post
    margin: 1em 0 0 0
    border-width: 3px medium

.footer
  line-height: 1.6em
  margin-left: auto
  margin-right: auto
  max-width: 100%
  font-size: 0.775em
  border-top: 5px solid $foreground-color
  margin-top: 2em
  overflow: hidden
  .menu
    text-align: right
    float: right
    margin-left: 0.6em
    margin-right: 0.6em
.contact
  float: left
  margin-left: 0.5em
  margin-right: 0.5em
.links
  float: left
  width: 200px
  height: 32px
  margin-left: 3em
  margin-right: 0.5em
  text-align: center
  ul
    padding: 0
  a
    margin: 0
    padding: 0
    display: block
    height: 32px
    &:hover
      background-color: transparent
      color: transparent
  li
    margin: 4px
    padding: 0
    top: 0
    height: 32px
    list-style: none
    diplay: block
    background: url(/images/icons/sprite.png) no-repeat top left
    float: left
    &#email
      background-position: -21px 0
      width: 32px
      height: 32px
    &#linkedin
      background-position: -195px 0
      width: 32px
      height: 32px
    &#facebook
      background-position: -79px 0
      width: 32px
      height: 32px
    &#twitter
      background-position: -253px 0
      width: 32px
      height: 32px
    &#flickr
      background-position: -137px 0
      width: 32px
      height: 32px
.copy
  margin-top: 2em
  text-align: center
  font-size: 0.85em
  line-height: 1.4em

.cloud
  float: right
  max-width: 40%
  padding: 0 5px
  ul
    margin: 0
    padding: 0 0 10px 0
    text-align: justify
    font-size: 0.85em
  li
    display: inline
    margin: 0
    padding: 0
    line-height: 0.9
    background: none
  a
    text-decoration: none
    border-bottom: none
    &:hover
      color: $anchor-color
      background: transparent

@mixin cloud-rank($rank)
  .cloud-rank-#{$rank}
    font-size: 1.5em - ($rank - 1)*.1em
    a
      color: darken($title-color, ($rank - 1)*4%)


@for $i from 1 through 10
  @include cloud-rank($i)

.meta
  margin: 0
  line-height: 0
  font-size: 70%
  margin-top: -2.75em
  float: right

.date
  @extend .monospace
  color: $secondary-text-color

.previous_posts
  float: left
  max-width: 55%
  padding: 0 5px

.tags
  line-height: 1.7em
  color: $secondary-text-color
  float: right
  font-size: 70%
  @extend .sans-serif
  span
    margin-right: 2px

.clear_both
  clear: both

.footnotes
  font-size: 75%
  @extend .serif
