<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

    <meta name="google-site-verification" content="Mzro3fN8mYVMAcs3Ve2c7YCiplw7gd1AdoRCiIxLyRA" />
    <meta name="msvalidate.01" content="ACC160819805135880C0D947A70F0AE8" />
    <meta name="author" content="Jason Graham" />

    {% if page.tags %}
    <meta name="keywords" content="{{page.tags | join:','}}" />
    {% endif %}

    <title>{% if page.title %}{{ page.title }} &rarr; {% endif %}Blog of Jason Graham</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.ico" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--<link rel="stylesheet" type="text/css" href="/css/fonts.css" />-->
    <link rel="stylesheet" type="text/css" href="/css/zenburn.css" />
    <link rel="start" href="http://jason.the-graham.com/" title="Home" />
    <link rel="alternate" type="application/atom+xml" title="Recent Posts" href="http://feeds.feedburner.com/jason-the-graham" />
    <script type="text/javascript" src="/scripts/email.js"></script>
    <!--[if lt IE 9]>
    <script src="/scripts/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div id="header">
      <h1><a href="/">Jason<span>.the-</span>Graham<span>.com</span></a></h1>

      <nav>
      <div id="navbar">
        <ul>
          <li class="first"><a href="/about/">about</a></li>
          <li><a href="/">blog</a></li>
          <li><a href="/archive/">archive</a></li>
          <li class="last"><a href="http://code.the-graham.com">code</a></li>
        </ul>
      </div>
      </nav>

    <div class="clear_both">
    </div>
   </div>

   <div class="content">
    {{ content }}

  <div class="clear_both">
  </div>

  <footer>
  <div class="footer">
    <div class="contact">
      <a href="/about/">Jason Graham</a><br />
      <a href="http://www.eecs.wsu.edu/">EECS</a> Graduate Student,<br />
      <a href="http://www.wsu.edu/">Washington State University</a><br />
    </div>
    <div style="text-align: center;" class="contact">
      <noscript>Email listed on <a href="/about">about</a> page.<br /></noscript>
      <script>mail2("jason","the-graham",0,"","<img title='Email' style='border: none; margin-left: 1em; margin-top: 1em;' class='img_left' src='/images/icons/email_32.png' />")</script>
      <a rel="me nofollow" href="http://www.linkedin.com/pub/jason-graham/25/578/896"><img title="Linkedin" style="border: none; margin-top: 1em;" class="img_left" src="/images/icons/linkedin_32.png" /></a>
      <a rel="me nofollow" href="http://www.facebook.com/jason.the.graham"><img title="Facebook" style="border: none; margin-top: 1em;" class="img_left" src="/images/icons/facebook_32.png" /></a>
      <a rel="me nofollow" href="http://twitter.com/jason__graham"><img title="Twitter" style="border: none; margin-top: 1em;" class="img_left" src="/images/icons/twitter_32.png" /></a>
      <a rel="me nofollow" href="http://www.flickr.com/photos/jason_and_whittney/"><img title="Flickr" style="border: none; margin-top: 1em;" class="img_left" src="/images/icons/flickr_32.png" /></a>
    </div>
    <div class="menu">
      <a href="http://code.the-graham.com">code</a><br />
    </div>
    <div class="menu">
      <a href="/archive/">archive</a><br />
    </div>
    <div class="menu">
      <a href="/">blog</a><br />
    </div>
    <div class="menu">
      <a href="/about/">about</a><br />
    </div>

    <div class="clear_both"></div>
    <div class="copy">Copyright &copy; 2010 <a href="/about/">Jason Graham</a>. Some Rights Reserved.<br />Licenced under the <a href='http://creativecommons.org/licenses/by-sa/3.0/us/'>Creative Commons Attribution-Share Alike 3.0 United States License</a>.</div>
   </div>
   </footer>

<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/sweet-justice.min.js"></script>

<script type="text/javascript">
//<![CDATA[
(function() {
var links = document.getElementsByTagName('a');
var query = '?';
for(var i = 0; i < links.length; i++) {
if(links[i].href.indexOf('#disqus_thread') >= 0) {
query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
}
}
document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/jason-the-graham-blog/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-15354626-2");
	pageTracker._setDomainName(".the-graham.com");
	pageTracker._trackPageview();
} catch(err) {}</script>
  </div>
  </body>
</html>

